.box{
  width: 70%;
  margin: auto;
  display: block;
  text-align: center;
  border: 2px solid black;
  box-sizing: border-box;
  z-index: 500;
  align-items: center;
  position: absolute;
  background-color: #fff;
  top: 25%;
  left: 25%;
  transition: all 0.3s
}
